<h1>Create a burger</h1>
<form class="create-form">
    <div class="form-gorup">
        <label for="ca">Burger Name:</label>
        <input type="text" id="formValue" name="burger_name" />
    </div>
    <button type="submit" id="submitter">Add Burger</button>
</form>


<h2>Eat these yummy burgers!</h2>
<ul>
{{#each burgers}}
{{#unless devoured}}
<h1>burger meat things {{this.burger_name}}</h1>
<button id={{this.id}} class="devour">Devour</button>
{{/unless}}
{{/each}}
</ul>

<h2>Burgers gone from this world, but forever in our hearts remain...</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <h1>{{this.burger_name}}</h1>
    <button id={{this.id}} class="undevour">UnDevour</button>
    {{/if}}
    {{/each}}        
</ul>


<script>

    $(".devour").on('click', function(e) {
        console.log(this.id);
        //*this.devoured = true;*/
        $.ajax({
            type: "put",
            url:`/api/burger/where/${this.id}/set/devoured/1`
        }).then((res) => {
            console.log(res)
            window.location.href="/";
        });    
        
    });

    $(".undevour").on('click', function(e) {
        console.log(this.id);
        //*this.devoured = true;*/
        $.ajax({
            type: "put",
            url:`/api/burger/where/${this.id}/set/devoured/0`
        }).then((res) => {
            console.log(res)
            window.location.href="/";
        });    
        
    });

    $("#submitter").on('click', function(e) {
        e.preventDefault();
        console.log("easier than making actual burgers, unless it's not.")
        newBurger = $("#formValue").val().trim();
        console.log("new burger: ", newBurger);
        $.ajax({
            type: "post",
            url: `/api/burger`,
            data: {
                name: newBurger,
                devoured: 0
                }
        }).then((res) => {
            console.log(res)
            window.location.href="/";
        });
    });

    /**let buttons = document.getElementsByClassName("devour")//.addEventListener('click', function(e){
    for(let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(e) {
            console.log(e.target);
        })
    }*/

</script>